.D\(n\) {
  display: none;
}
.Mend\(15px\) {
  margin-right: 15px;
}
.Mb\(10px\) {
  margin-bottom: 10px;
}
.Mb\(15px\) {
  margin-bottom: 15px;
}
.Mb\(20px\) {
  margin-bottom: 20px;
}
.Mb\(30px\) {
  margin-bottom: 30px;
}
.Mb\(40px\) {
  margin-bottom: 40px;
}
.Mb\(5px\) {
  margin-bottom: 5px;
}
.Mb\(60px\) {
  margin-bottom: 60px;
}
.Mstart\(1em\) {
  margin-left: 1em;
}
.Px\(10px\) {
  padding-left: 10px;
  padding-right: 10px;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Py\(1px\) {
  padding-top: 1px;
  padding-bottom: 1px;
}
.Py\(30px\) {
  padding-top: 30px;
}
.Py\(30px\), .Pb\(30px\) {
  padding-bottom: 30px;
}
.Py\(40px\) {
  padding-top: 40px;
  padding-bottom: 40px;
}
.Py\(5px\) {
  padding-top: 5px;
  padding-bottom: 5px;
}
.Py\(60px\) {
  padding-top: 60px;
  padding-bottom: 60px;
}
.Pend\(30px\) {
  padding-right: 30px;
}
.Pb\(20px\) {
  padding-bottom: 20px;
}
.Td\(n\) {
  text-decoration: none;
}
.Td\(u\)\:hover:hover {
  text-decoration: underline;
}
.W\(100\%\) {
  width: 100%;
}
.W\(50px\) {
  width: 50px;
}
@media(min-width:576px) {
  .W\(300px\)--sm {
    width: 300px;
  }
  .W\(400px\)--sm {
    width: 400px;
  }
  .W\(50\%\)--sm {
    width: 50%;
  }
}
@media(min-width:768px) {
  .W\(75\%\)--md {
    width: 75%;
  }
}
@media(min-width:1200px) {
  .D\(b\)--xl {
    display: block;
  }
  .Mb\(40px\)--xl {
    margin-bottom: 40px;
  }
  .Py\(60px\)--xl {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
