@use "sass:map";
@use "colors";

.gradient-border-bottom {
  border-bottom: 1px solid map.get(colors.$brown-palette, "75");
  border-image: url("/image/horiz_gradient_line.png") 0 0 1 0 stretch;
}

.gradient-border-left {
  border-left: 1px solid map.get(colors.$brown-palette, "75");
  border-image: url("/image/vert_gradient_line.png") 0 0 0 1 stretch;
}

.brown-border-right {
  border-right: 1px solid map.get(colors.$brown-palette, "90");
}

.brown-border-left {
  border-left: 1px solid map.get(colors.$brown-palette, "90");
}
