@use "sass:map";
@use "sass:color";
@use "../colors";
@use "../fonts";
@use "../sizes";

.navbar__background {
  @extend .bg-blue-20;
  box-shadow: 0 4px 4px 1px rgba(0,0,0,0.25);
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: sizes.$lg) {
    flex-wrap: nowrap;
  }
}

.navbar__logoSection {
  flex: 1 0 auto;
}

.navbar__logo{
  @extend .serif-lg;
  @extend .text-brown-4;
  text-decoration: none;
}

.navbar__linkSection{

  background-color: map.get(colors.$brown-palette, "85");
  border: 2px solid map.get(colors.$brown-palette, "55");
  position:absolute;
  z-index: 2;
  right:0;
  top: 35px;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  width:100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in;
  padding: 20px;
  margin: 10px 0;

  &.active {
    visibility: visible;
    transition: opacity 0.1s ease-in;
    opacity: 1;
  }

  @media screen and (min-width: sizes.$md) {
    background-color: map.get(colors.$blue-palette, "20");
    border: none;
    position: static;
    display:flex;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    width: auto;
    padding: 0;
  }
}

.navbar__link{
  border: none;
  background-color: transparent;
  @include fonts.sans-font($size:"xl", $breakpoint:"xs");
  @include fonts.sans-font($size:"sm", $breakpoint:"md");
  @include colors.text-brown-2;
  margin: 20px 0;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover {
    @include colors.text-brown-3;
  }

  @media screen and (min-width: sizes.$md) {
    margin: 0 0 0 40px;
    @include colors.text-brown-4;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      @include colors.text-brown-5;
    }
  }
}

.navbar__burgerSection{
  cursor: pointer;
  height: 30px;

  @media screen and (min-width: sizes.$md) {
    display: none;
  }
}

.navbar__burgerLine1,
.navbar__burgerLine2,
.navbar__burgerLine3 {
  width:25px;
  height:3px;
  background-color: map.get(map.get(colors.$font-colors, "brown"), "4");
  margin: 5px;
  transition: all 0.3s ease
}
.navbar__burgerLine1.active{
  transform: rotate(-40deg) translate(-5px,6px);
}
.navbar__burgerLine2.active{
  transform: rotate(90deg) translate(0px,0px);
}
.navbar__burgerLine3.active{
  transform: rotate(35deg) translate(-5px,-6px);
}
.navbar__searchSection {
  width:100%;
  order: 4;
  display: flex;
  margin: 5px 0;

  @media screen and (min-width: sizes.$lg) {
    order: initial;
    margin: 5px 20px;
  }
}
.navbar__searchInput {
  @include colors.text-brown-4;
  @extend .bg-blue-20;
  border-style: solid;
  border-color: map.get(map.get(colors.$font-colors, "brown"), "4");
  border-width: 1px 0 1px 1px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 0;

  &:focus {
    @include colors.text-brown-1;
    background-color: white;
  }
}
.navbar__searchButton {
  width: 40px;
  border-style: solid;
  border-color: map.get(map.get(colors.$font-colors, "brown"), "4");
  border-width: 1px 1px 1px 0;
  background-color: map.get(colors.$blue-palette, "20");
  background-image: url("../image/magnifying-glass-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4px;
  cursor: pointer;
}