<div class="navbar__background Py(5px)">
    <div class="container">
        <div class="navbar">

            <div class="navbar__logoSection">
                <a class="navbar__logo" href="/">Logo</a>
            </div>

            <form class="navbar__searchSection" action="" method="" id="">
                <label class="" for="Srb-S">Search Bar</label>
                <input class="navbar__searchInput"
                       type="text"
                       name="Srb-S"
                       id="Srb-S"
                       placeholder="keyword">
                <button class="navbar__searchButton" type="submit" ></button>
            </form>

            <nav class="navbar__linkSection">
                <a class="navbar__link" href="/login">Login</a>
                <a class="navbar__link" href="/account">Account</a>
                <a class="navbar__link" href="/cart">Cart</a>
            </nav>

            <div class="navbar__burgerSection">
                <div class="navbar__burgerLine1"></div>
                <div class="navbar__burgerLine2"></div>
                <div class="navbar__burgerLine3"></div>
            </div>
        </div>
    </div>
</div>

