<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Page: Title</title>
</head>

<body class="body">

<section class="">
    <%- include('./_navbar'); %>
</section>

<section class="body__expandingSection">
    <p>Hello World</p>
</section>

<%- include('./_footer'); %>


<script src="/javascript/navbar.js"></script>

</body>
</html>