<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Page: Title</title>
</head>

<body class="body" id='atomic'>

<section class="">
    <%- include('./_navbar'); %>
</section>

<section class="body__expandingSection">
    <div class="container">
        <p class="My(50px) text-brown-2">Hello World</p>
    </div>
</section>

<%- include('./_footer'); %>


<script src="/javascript/navbar.js"></script>

</body>
</html>